/* App-wide styling */
html, body {
    background-color: #0e0e0e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#title {
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: x-large;
    font-style: oblique;
}

#pic_view {
    display: flex;
    justify-content: center;
    height: 80%;
    border: 5px solid white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
